{% from '../typography/span.njk' import span  %}
{% macro address(name,address) %}
    <div class="v-card">
      {{span(name)}}
      <div class="adr">
       {% for item in address %} 
           {{span(item)}}
       {% endfor %}
       </div>    
    </div>
{% endmacro %}