{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'DVSA Road Side Payment Portal' %}

{% block content %}
  
  {% call components.gridRow() %}

    {% call components.columnTwoThirds() %}

      {{ components.heading(text='Pay a DVSA Penalty', tag='h1', size='xlarge') }}
			{{ components.heading(text="Make Payment", tag='h2', size='large') }}

			<div class="cpms-m-b-60">
				<form action="#" method="GET">

					<h2 class="heading-small">Purchase details</h2>
					<p>Please check that the purchase details below are correct, before making payment.</p>
					<table>
						<thead>
							<tr>
								<th class="cpms-table-header" scope="col">Description</th>
								<th class="cpms-table-header" scope="col">Reference</th>
								<th class="cpms-table-header" scope="col">Name</th>
								<th class="cpms-table-header" scope="col">Price</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row" class="font-xsmall">Fixed Penalty</th>
								<td class="font-xsmall">RSP-012345-7890-AE12343F</td>
								<td class="font-xsmall"></td>
								<td class="font-xsmall">{{ amount }}</td>
							</tr>
						</tbody>
					</table>

					

					<h2 class="heading-small">Card details</h2>
					<p>Please check that your card details are correct.</p>
					<table>
						<tbody>
							<tr>
								<th class="cpms-table-header" scope="row">Card number</th>
								<td style="text-align: center">{{ cardNumber }}</td>
							</tr>
							<tr>
								<th class="cpms-table-header" scope="row">Card holder</th>
								<td style="text-align: center">{{ cardHolderName }}</td>
							</tr>
							<tr>
								<th class="cpms-table-header" scope="row">Expiry date</th>
								<td style="text-align: center">{{ expMonth }}/{{ expYear }}</td>
							</tr>
						</tbody>
					</table>
					<div class="atf-m-t-20">
						<a class="button" href="{{ urlroot }}/payment-code/2222222222222222">Make Payment</a>
					</div>
				</form>
			</div>
    {%- endcall %}

    {% call components.columnOneThird() %}

    <aside class="govuk-related-items" role="complementary">
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li> {{ components.link(text='Portuguese', url='#') }} </li>
            <li> {{ components.link(text='Cymraeg', url='#') }} </li>
            <li> {{ components.link(text='Magyar', url='#') }} </li>
            <li> {{ components.link(text='Polski', url='#') }} </li>
            <li> {{ components.link(text='Français', url='#') }}</li>
            <li> {{ components.link(text='Latviešu', url='#') }} </li>
          </ul>
        </nav>
      </aside>
    {%- endcall %}

  {%- endcall %}
  
{% endblock %}