{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'DVSA Road Side Payment Portal' %}

{% block content %}
  
  {% call components.gridRow() %}

    {% call components.columnTwoThirds() %}

      {{ components.heading(text='Pay a DVSA Penalty', tag='h1', size='xlarge') }}
			{{ components.heading(text='Enter card details', tag='h2', size='large') }}

			<form action="{{ urlroot }}/cpms-step-2" method="get">
				<div class="form-group">
				<label class="form-label" for="cardNumber">Card number</label>
				<input class="form-control" id="cardNumber" name="cardNumber" type="number">
				<input class="form-control" name="amount" value={{ amount }} hidden>
				</div>
				<div class="form-group">
					<fieldset>
						<legend style="margin-bottom: 5px;">
							<span class="form-label">Expiry date</span>
							<span class="form-hint" style="font-size: 14px;">
								For example, 10 / 2020
							</span>
						</legend>
						<div class="form-date">
							<div class="form-group form-group-month">
								<label class="form-label" for="expMonth">
									Month
								</label>
								<input class="form-control" id="expMonth" name="expMonth" type="number" pattern="[0-9]*" min="0" max="12">
							</div>
							<div class="form-group cpms-form-group-separator">
								<label class="form-label" for="expYear">
									&nbsp;
								</label>
								<span>/</span>
							</div>
							<div class="form-group form-group-year">
								<label class="form-label" for="expYear">
									Year
								</label>
								<input class="form-control" id="expYear" name="expYear" type="number" pattern="[0-9]*" min="2017" max="3000">
							</div>
						</div>
					</fieldset>
					<div class="form-group atf-m-t-20">
							<label class="form-label" for="sec-code">Card security code</label>
							<input class="form-control" id="sec-code" name="sec-code" type="number" style="width: 50px">
					</div>
					<input class="button" type="submit" value="Continue">
				</div>
			</form>
    {%- endcall %}

    {% call components.columnOneThird() %}

    <aside class="govuk-related-items" role="complementary">
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li> {{ components.link(text='Portuguese', url='#') }} </li>
            <li> {{ components.link(text='Cymraeg', url='#') }} </li>
            <li> {{ components.link(text='Magyar', url='#') }} </li>
            <li> {{ components.link(text='Polski', url='#') }} </li>
            <li> {{ components.link(text='Français', url='#') }}</li>
            <li> {{ components.link(text='Latviešu', url='#') }} </li>
          </ul>
        </nav>
      </aside>
    {%- endcall %}

  {%- endcall %}
  
{% endblock %}