{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = t.site_title %}
{% set pageBreadcrumbItems = [
    { text: t.breadcrumbs.home, url: '/' },
    { text: t.breadcrumbs.payment_code, url: '/payment-code' },
    { text: t.breadcrumbs.payment }
  ] 
%}

{% block content %}
  
  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}
        {{ components.heading(text=t.failed_payment_page.title, tag='h1', size='xlarge') }}
        <p>{{ t.failed_payment_page.info }}</p>
        {{ components.button(text=t.failed_payment_page.start_again_button, url='/payment-code') }}
    {%- endcall %}
  {%- endcall %}
{% endblock %}