{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'DVSA Road Side Payment Portal' %}
{% set pageBreadcrumbItems = [
    { text: 'Home', url: '/' },
    { text: 'Payment Code', url: '/payment-code' },
    { text: 'Payment' }
  ] 
%}

{% set paid = true if status == 'PAID' else false %}
{% set statusClass = 'confirmed' if paid else 'unconfirmed' %}

{% block content %}
  
  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}
        {{ components.heading(text='Your payment has been declined', tag='h1', size='xlarge') }}
        <p>No money has been taken from your account.<br />
        Contact your bank for more details.</p>
        {{ components.button(text='Start again', url='/payment-code') }}
    {%- endcall %}
  {%- endcall %}
{% endblock %}