{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = t.site_title %}
{% set pageBreadcrumbItems = [
    { text: t.breadcrumbs.home, url: '/' },
    { text: t.breadcrumbs.payment_code }
  ] 
%}

{% block content %}
  
  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}

      {% call components.form(action='/payment-code', method='post') %}
        {{ components.heading(text=t.payment_code_page.title, tag='h1', size='xlarge') }}
        
        {% if invalidPaymentCode %}
          <div class="error-summary" role="alert" aria-labelledby="error-summary-payment-code" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-payment-code">
              {{ t.payment_code_page.error.title }}
            </h2>
             {{ t.payment_code_page.error.description }}
          </div>
        {% endif %}
        {{ components.field(id='payment_code', label=t.payment_code_page.payment_code, hint=t.payment_code_page.hint, error=t.payment_code_page.error.invalid_code if invalidPaymentCode, maxlength=19) }}
        <p>
          <details>
            <summary><span class="summary">{{ t.payment_code_page.hidden_panel_title }}</span></summary>
            <div class="panel panel-border-narrow">
              <p>
              {{ t.payment_code_page.hidden_panel_text }}
              </p>
            </div>
          </details>    
        </p>

        {{ components.button(text=t.payment_code_page.continue_button, type='submit') }}
      {%- endcall %}
    {%- endcall %}

    {% call components.columnOneThird() %}
    <aside class="govuk-related-items" role="complementary">
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li> {{ components.link(text='French', url='?clang=fr') if clang != 'fr' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='German', url='?clang=de') if clang != 'de' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Polish', url='?clang=pl') if clang != 'pl' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Spanish', url='?clang=es') if clang != 'es' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Welsh', url='?clang=cy') if clang != 'cy' else components.link(text='English', url='?clang=en') }}</li>
          </ul>
        </nav>
      </aside>
    {%- endcall %}

  {%- endcall %}
  
{% endblock %}