{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = t.site_title %}
{% set pageBreadcrumbItems = [
    { text: t.breadcrumbs.home, url: '/' },
    { text: t.breadcrumbs.payment_code, url: '/payment-code' },
    { text: t.breadcrumbs.penalty_details, url: '/payment-code/' + paymentCode },
    { text: t.breadcrumbs.payment }
  ] 
%}

{% if penaltyType == 'FPN' %}
  {% set titleAndContinueButtonText = t.penalty_details_page.pay_fixed_penalties_text %}
{% elif penaltyType == 'CDN' %}
  {% set titleAndContinueButtonText = t.penalty_details_page.pay_court_deposits_text %}
{% elif penaltyType == 'IM' %}
  {% set titleAndContinueButtonText = t.penalty_details_page.pay_immobilisation_fee_text %}
{% endif %}

{% block content %}
  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}
      {% call components.form(action='/payment-code/'+ paymentCode + '/' + penaltyType + '/payment', method='POST')  %}
        {{ components.heading(text=titleAndContinueButtonText, tag='h1', size='xlarge') }}
        {# Payment summary table #}
        <table>
          <thead>
            <tr>
              <th>{{t.penalty_details.reference}}</th>
              <th>{{t.penalty_details.amount}}</th>
              <th>{{t.penalty_details.status}}</th>
            </tr>
          </thead>
          <tbody>
            {% for penalty in penaltyDetails %}
              {% set statusClass = 'confirmed' if penalty.status == 'PAID' else 'unconfirmed' %}
              <tr>
                <td>{{ penalty.formattedReference }}</td> 
                <td>&pound;{{ penalty.amount }}</td> 
                <td class="{{ statusClass }}">
                  <strong>
                    {{ t.penalty_details.status_paid if penalty.status == 'PAID' else t.penalty_details.status_unpaid }}
                  </strong>
                </td>
              </tr>   
            {% endfor %}
            {% if penaltyDetails.length > 1 %}
              <tr>
                <td>{{ t.penalty_details_page.amount_due }}</td> 
                <td><strong>&pound;{{ totalAmount if totalAmount else 'N/A' }}</strong></td> 
                <td></td>
              </tr>
            {% endif %}
          </tbody>
        </table>

        {% if paymentStatus != 'PAID' %}
          <br />
          <div class="panel panel-border-wide">{{ t.penalty_details_page.gdpr_notification }}</div>
          {% if paymentPending %}
            <p>
              {{ components.notice(text=t.payment_pending_page.pending_notice.replace('MINUTES', pendingMinutes)) }}
            </p>
          {% endif %}
          <br />
          {{ components.button(text=titleAndContinueButtonText, type="submit", disabled=paymentPending) }}
          <p>
            <details>
              <summary><span class="summary">{{ t.penalty_details_page.payment_assistance_panel_title }}</span></summary>
              <div class="panel panel-border-narrow">
                <p>{{ t.penalty_details_page.call_dvsa }}</p>
                <p>
                  <a href="https://www.gov.uk/call-charges" target="_blank">
                    {{ t.penalty_details_page.call_charges_link }}
                  </a>
                </p>
                <p>{{ t.penalty_details_page.info_needed }}</p>
                </p>
              </div>
            </details>    
          </p>
        {% endif %}
      {%- endcall %}
    {%- endcall %}
  {%- endcall %}
  
{% endblock %}