{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = t.site_title %}
  
{% block content %}
  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}
      {% if paymentStatus == 'PAID' %}
        <div class="govuk-box-highlight">
          <h1 class="heading-large">
            {{ t.multipayment_receipt.banner_confirmation_type[paymentType] }}
          </h1>
          <p class="font-medium">
            {{ t.multipayment_receipt.banner_payment_complete }}
          </p>
        </div>
      {% endif %}

      <h3 class="heading-medium">{{ t.multipayment_receipt.transaction_receipt }}</h3>
      <table>
        <tbody>
          <tr>
            <td>{{ t.multipayment_receipt.transaction_amount }}
              <td>
                <strong>&pound;{{ paymentDetails.Payments[paymentType].PaymentAmount }}</strong>
              </td>
          </tr>
          <tr>
            <td>{{ t.multipayment_receipt.transaction_date_time }}
            <td>
              <strong>{{ paymentDetails.Payments[paymentType].PaymentDate }}</strong>
            </td>
          </tr>
            <td>{{ t.multipayment_receipt.transaction_auth_code }}
            <td>
              <strong>{{ paymentDetails.Payments[paymentType].AuthCode }}</strong>
            </td>
          </tr>
        </tbody>
      </table>

      <h3 class="heading-medium">
        {{ t.multipayment_receipt.details_title[paymentType] }}
      </h3>
      <table>
        <tbody>
          <tr>
            <td>{{ t.multipayment_receipt.details_registration }}</td>
            <td><strong>{{ penaltyGroupDetails.registrationNumber }}</strong></td>
          </tr>
          <tr>
            <td>{{ t.multipayment_receipt.details_date }}</td>
            <td><strong>{{ penaltyGroupDetails.date }}</strong></td>
          </tr>
          <tr>
            <td>{{ t.multipayment_receipt.details_location }}</td>
            <td><strong>{{ penaltyGroupDetails.location }}</strong></td>
          </tr>
        </tbody>
      </table>

      <table>
        <thead>
          <tr>
            <th>{{ t.multipayment_receipt.breakdown_reference }}</th>
            <th>{{ t.multipayment_receipt.breakdown_amount }}</th>
            <th>{{ t.multipayment_receipt.breakdown_status }}</th>
          </tr>

          {% for payment in penaltyDetails %}
            {% if payment.type == paymentType %}
              {% for penalty in payment.penalties %}
                {% set statusClass = 'confirmed' if penalty.status == 'PAID' else 'unconfirmed' %}
                <tr>
                  <td>{{ penalty.formattedReference }}</td>
                  <td>&pound;{{ penalty.amount }}</td>
                  <td>
                    <strong><span class='{{ statusClass }}'>{{ penalty.status }}</span></strong>
                    {% if penalty.status == 'PAID' %}
                      &nbsp;&nbsp;
                      <img src="{{ assets }}/images/icon-check.png" />
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </thead>
      </table>

      <h3 class="heading-medium">{{ t.multipayment_receipt.email.title }}</h3>
      {{ components.field(id='email_address', label=t.multipayment_receipt.email.address, hint=t.multipayment_receipt.email.description) }}
      <p>
        {{ components.button(text=t.multipayment_receipt.email.send, type="submit") }}
      </p>

      {% if nextPayment %}
          <div class="notice">
            <i class="icon icon-important">
              <span class="visually-hidden">{{t.multipayment_receipt.further_payment_warning}}</span>
            </i>
            <strong class="bold-small">
              {{t.multipayment_receipt.further_payment_warning}}
            </strong>
          </div>
        <br />
        <a target='_blank' href='{{ urlroot }}/payment-code/{{ paymentCode }}/{{ nextPayment.PaymentCategory }}/details'>
          {{ t.multipayment_receipt.continue_to[paymentType] }}
        </a>
      {% endif %}
      <p>
        <a target='_blank' href='{{ urlroot }}/payment-code/{{ paymentCode }}'>{{ t.multipayment_receipt.back_to_summary }}</a>
      </p>
    {%- endcall %}
  {%- endcall %}
  
{% endblock %}