{% extends 'layouts/default.layout.njk' %}

{% if paymentType == 'FPN' %}
  {% set paymentBannerTitle = t.penalty_details.type_fixed_penalty %}
{% elif paymentType == 'CDN' %}
  {% set paymentBannerTitle = t.penalty_details.type_court_deposit %}
{% elif paymentType == 'IM' %}
  {% set paymentBannerTitle = t.penalty_details.type_immobilisation %}
{% endif %}

{% set pageTitle = t.payment_details.transaction_receipt %}

{% if nextPayment %}
  {% if nextPayment.PaymentCategory == 'FPN' %}
    {% set nextPaymentButtonText = t.penalty_details_page.continue_fixed_penalties %}
  {% elif nextPayment.PaymentCategory == 'CDN' %}
    {% set nextPaymentButtonText = t.penalty_details_page.continue_court_deposits %}
  {% elif nextPayment.PaymentCategory == 'IM' %}
    {% set nextPaymentButtonText = t.penalty_details_page.continue_immobilisation_fee %}
  {% endif %}
{% endif %}
  
{% block content %}
  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}
      {% for type, payment in paymentDetails.Payments %}
        {% if type == paymentType  %}
          {% if payment.PaymentStatus == 'PAID' %}
            <div class="govuk-box-highlight">
              <h1 class="heading-large">
                {{ t.payment_details.payment_success }}
              </h1>
              <p class="font-medium">
                {{ paymentBannerTitle }}
              </p>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if nextPayment %}
        {% set nextUrl = "/payment-code/" + paymentCode + "/" + nextPayment.PaymentCategory + "/details" %}
        {% if nextPayment.PaymentCategory == 'FPN' %}
          {% set nextPaymentButtonText = t.penalty_details_page.continue_fixed_penalties %}
        {% elif nextPayment.PaymentCategory == 'CDN' %}
          {% set nextPaymentButtonText = t.penalty_details_page.continue_court_deposits %}
        {% endif %}
        {{ components.button(text=nextPaymentButtonText, type="submit", url=nextUrl) }}
      {% endif %}

      <h3 class="heading-medium">{{ t.payment_details.transaction_receipt }}</h3>
      <table class='receipt-details'>
        <tbody>
          <tr>
            <td>{{ t.penalty_details.amount }}</td>
              <td>
                <strong>&pound;{{ paymentDetails.Payments[paymentType].PaymentAmount }}</strong>
              </td>
          </tr>
          <tr>
            <td>{{ t.payment_details.paid_on }}</td>
            <td>
              <strong>
                {{ paymentDetails.Payments[paymentType].FormattedDate }}
                &nbsp;&nbsp;
                {{ paymentDetails.Payments[paymentType].FormattedTime }}
              </strong>
            </td>
          </tr>
          {% if paymentDetails.Payments[paymentType].PaymentMethod == 'CARD' or paymentDetails.Payments[paymentType].PaymentMethod == 'CNP' %}
            <tr>
              <td>{{ t.payment_details.authorisation_code }}</td>
              <td>
                <strong>{{ paymentDetails.Payments[paymentType].AuthCode }}</strong>
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>


      <table id='receipt-breakdown' class='receipt-payment-type-{{ paymentType }}'>
        {% if paymentType != 'IM' %}
          <thead>
            <tr>
              <td>{{ t.penalty_details.reference }}</td>
              <td>{{ t.penalty_details.amount }}</td>
              <td>{{ t.penalty_details.status }}</td>
            </tr>
          </thead>
        {% endif %}

        <tbody>
          {% for payment in penaltyDetails %}
            {% if payment.type == paymentType %}
              {% for penalty in payment.penalties %}
                {% set statusClass = 'confirmed' if penalty.status == 'PAID' else 'unconfirmed' %}
                <tr>
                  {% if paymentType == 'IM' %}
                    <td> {{ t.penalty_details.reference }} </td>
                  {% endif %}
                  <td><strong>{{ penalty.formattedReference }}</strong></td>
                  {% if paymentType != 'IM' %}
                    <td><strong>&pound;{{ penalty.amount }}</strong></td>
                  {% endif %}
                  <td>
                    <strong>
                      <span class='{{ statusClass }}'>
                        {% if penalty.status == 'PAID' %}
                          {{ t.penalty_details.status_paid }}
                          &nbsp;&nbsp;
                          <img src="{{ assets }}/images/icon-check.png" alt="" />
                        {% else %}
                          {{ t.penalty_details.status_unpaid }}
                        {% endif %}
                      </span>
                    </strong>
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

      <table id='receipt-penalty-details'>
        <tr>
          <td>{{ t.penalty_details.vehicle_reg }}</td>
          <td><strong>{{ registrationNumber }}</strong></td>
        </tr>
        <tr>
          <td>{{ t.penalty_details.penalty_date }}</td>
          <td><strong>{{ date }}</strong></td>
        </tr>
        <tr>
          <td>{{ t.penalty_details.location }}</td>
          <td><strong>{{ location }}</strong></td>
        </tr>
      </table>
      <h3 class="heading-medium">{{ t.payment_details.payment_receipt_print_header  }}</h3>
      <div class="panel panel-border-wide">
        {{ t.payment_details.payment_receipt_print_info }}
      </div>
      <br />
      <p>
        {% if paymentStatus == 'PAID' %}
          {{ components.button(text=t.penalty_details_page.return_to_summary, url='/payment-code/' + paymentCode) }}
        {% else %}
          <a href='{{ urlroot }}/payment-code/{{ paymentCode }}'>{{ t.penalty_details_page.return_to_summary }}</a>
        {% endif %}
      </p>
    {%- endcall %}
  {%- endcall %}
  
{% endblock %}