{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = t.site_title %}
{% set pageBreadcrumbItems = [
    { text: t.breadcrumbs.home, url: '/' },
    { text: t.breadcrumbs.payment_code, url: '/payment-code' },
    { text: t.breadcrumbs.penalty_details }
  ]
%}

{% set paid = true if paymentStatus == 'PAID' else false %}

{% block content %}
  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}
      {{ components.heading(text=t.penalty_details_page.penalty_details_title, tag='h1', size='large') }}
      {% if paid == false %}
        {{ components.paragraph(text=t.penalty_details_page.intro_part_paid) }}
      {% else %}
        {{ components.paragraph(text=t.penalty_details_page.intro_paid) }}
        <p>
          {{ t.feedback_prompt.easy_to_use }}
          <a href="{{ t.feedback_prompt.link }}" target="_blank">
            {{ t.feedback_prompt.tell_us }}</a>
          {{ t.feedback_prompt.improve_service }}
        </p>
      {% endif %}
      {# Penalty details summary table #}
      <table class="details multipenalty-summary-table">
        <tbody>
          <tr>
            <td>{{ t.penalty_details.payment_code }}</td>
            <td colspan=4>{{ paymentCode }}</td>
          </tr>
          <tr>
            <td>{{ t.penalty_details.vehicle_reg }}</td>
            <td>{{ penaltyGroupDetails.registrationNumber if penaltyGroupDetails.registrationNumber else 'N/A' }}</td>
          </tr>
          <tr>
            <td>{{ t.penalty_details.penalty_date }}</td>
            <td colspan=4>{{ penaltyGroupDetails.date }}</td>
          </tr>
          <tr>
            <td>{{ t.penalty_details.location }}</td>
            <td colspan=4>{{ location | escape }}</td>
          </tr>
          {% for amount in penaltyGroupDetails.splitAmounts|sort(attribute='type', reverse=true) %}
            {% set amountPaid = true if amount.status == 'PAID' else false %}
            {% set statusClass = 'confirmed' if amountPaid else 'unconfirmed' %}
            {% set showPaymentButton = amount.status == 'UNPAID' %}
            <tr class='no-border'>
              <td>
                {% if amount.type == 'FPN' %}
                  {{ t.penalty_details.type_fixed_penalty }}
                {% elif amount.type == 'CDN' %}
                  {{ t.penalty_details.type_court_deposit }}
                {% elif amount.type == 'IM' %}
                  {{ t.penalty_details.type_immobilisation }}
                {% endif %}
              </td>
              <td>
                &pound;{{ amount.amount }}
              </td>
              <td>
                <span class="{{statusClass}}">
                  {% if amountPaid %}
                    <strong>{{ t.penalty_details.status_paid }}</strong> &nbsp;&nbsp;
                    <img src="{{ assets }}/images/icon-check.png" alt="" />
                  {% else %}
                    <strong>{{ t.penalty_details.status_unpaid }}</strong>
                  {% endif %}
                </span>
              </td>
              <td>
                {% if amountPaid %}
                  <a href="{{paymentCode}}/{{amount.type}}/receipt">{{ t.penalty_details.receipt_link }}</a>
                {% endif %}
              </td>
            </tr>
            {% for penaltyType in penaltyDetails %}
              {% if penaltyType.type == amount.type %}
                {% if penaltyType.penalties.length == 1 %}
                  <tr {% if showPaymentButton %}class='no-border'{% endif %}>
                    <td>
                      {{ t.penalty_details.reference }}
                    </td>
                    <td colspan=3>
                      <strong>{{ penaltyType.penalties[0].formattedReference }}</strong>
                    </td>
                  </tr>
                {% else %}
                  <tr {% if showPaymentButton %}class='no-border'{% endif %}>
                    <td colspan=4>
                      <details>
                        <summary><span class="summary">{{ t.penalty_details_page.penalty_details_panel_title }}</span></summary>
                        <div class="panel panel-border-narrow">
                          <table>
                            <tr>
                              <td>{{ t.penalty_details.reference }}</td>
                              <td class="numeric">{{ t.penalty_details.amount }}</td>
                            </tr>
                            {% for penalty in penaltyType.penalties %}
                              <tr>
                                <td><strong>{{ penalty.formattedReference }}</strong></td>
                                <td class="numeric"><strong>&pound;{{ penalty.amount }}</strong></td>
                              </tr>
                            {% endfor %}
                          </table>
                        </div>
                      </details>
                    </td>
                  </tr>
                {% endif %}
              {% endif %}
            {% endfor %}
            {% if showPaymentButton %}
              <tr>
                <td class="payment-button-cell" colspan=4>
                  {% set detailsUrl = '/payment-code/' + paymentCode + '/' + amount.type + '/details' %}
                  {{ components.button(text=t.penalty_details_page.continue_to_payment_button, url=detailsUrl) }}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% if paid == false %}
        <p>
          {{ components.notice(text=t.home.info_text) }}
        </p>
        <p>
          <details>
            <summary><span class="summary">{{ t.penalty_details_page.details_assistance_panel_title }}</span></summary>
            <div class="panel panel-border-narrow">
              <p>
                {{ t.penalty_details_page.details_assistance_panel_paragraph_1 }}
              </p>
              <ul class="visible-bullets">
                <li>
                  {{ t.penalty_details_page.tell_examiner }}
                </li>
                <li>
                  {{ t.penalty_details_page.call_dvsa }}
                  <br />
                  {{ components.link(text=t.penalty_details_page.call_charges_link, url='https://www.gov.uk/call-charges') }}
                </li>
              </ul>
              <br />
              {{ t.penalty_details_page.info_needed }}
            </div>
          </details>
        </p>
        {{ components.heading(text=t.home.other_ways, tag='h3', size='medium') }}
        {{ components.heading(text=t.home.phone_heading, tag='h4', size='small') }}
        <p>{{ t.home.phone_contact_details }}</p>
        {{ components.link(text=t.home.phone_charges_link, url='https://www.gov.uk/call-charges') }}
        <p>{{ t.home.phone_info_needed }}</p>
        <ul class="visible-bullets">
          <li>{{ t.home.phone_bullet1 }}</li>
          <li>{{ t.home.phone_bullet2 }}</li>
          <li>{{ t.home.phone_bullet3 }}</li>
        </ul>
        {{ components.heading(text=t.home.post_heading, tag='h4', size='small') }}
        <p>{{ t.home.post_text }}</p>
        {{ components.heading(text=t.home.cash_heading, tag='h4', size='small') }}
        <p>{{ t.home.cash_text }}</p>
      {% endif %}
    {# ends components.columnTwoThirds #}
    {%- endcall %}
    {% call components.columnOneThird() %}
    <aside class="govuk-related-items" role="complementary">
        {{ components.heading(text=t.home.language_guidance_header + ':', tag='h3', size='small', id='language-links-header' )}}
        <nav role="navigation" aria-labelledby="language-links-header">
          <ul class="font-xsmall">
            <li>{{ components.link(text='български', url='?clang=bg') if clang != 'bg' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Čeština', url='?clang=cs') if clang != 'cs' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Српски језик', url='?clang=sr') if clang != 'sr' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Cymraeg', url='?clang=cy') if clang != 'cy' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Deutsch', url='?clang=de') if clang != 'de' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Ελληνικά', url='?clang=el') if clang != 'el' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Eesti keel', url='?clang=et') if clang != 'et' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Español', url='?clang=es') if clang != 'es' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Français', url='?clang=fr') if clang != 'fr' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Hrvatski', url='?clang=hr') if clang != 'hr' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Italiano', url='?clang=it') if clang != 'it' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Latviešu', url='?clang=lv') if clang != 'lv' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Lietuvių', url='?clang=lt') if clang != 'lt' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Magyar', url='?clang=hu') if clang != 'hu' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Nederlands', url='?clang=nl') if clang != 'nl' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Polski', url='?clang=pl') if clang != 'pl' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Português', url='?clang=pt') if clang != 'pt' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Ру́сский', url='?clang=ru') if clang != 'ru' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Română', url='?clang=ro') if clang != 'ro' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Slovenčina', url='?clang=sk') if clang != 'sk' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Slovenščina', url='?clang=sl') if clang != 'sl' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Türkçe', url='?clang=tr') if clang != 'tr' else components.link(text='English', url='?clang=en') }}</li>
          </ul>
        </nav>
      </aside>
    {%- endcall %}
  {# ends components.gridRow #}
  {%- endcall %}

{% endblock %}