{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = t.site_title %}
{% set pageBreadcrumbItems = [
    { text: t.breadcrumbs.home, url: '/' },
    { text: t.breadcrumbs.payment_code, url: '/payment-code' },
    { text: t.breadcrumbs.penalty_details }
  ] 
%}
{# This is going to be refactored once the Payment service is integrated and we have full knowledge of the payload
   coming from it.
#}
{% set paid = true if status == 'PAID' else false %}
{% set statusClass = 'confirmed' if paid else 'unconfirmed' %}

{% block content %}
  
  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}
          {% call components.form(action='/payment-code/'+paymentCode+'/payment', method='POST')  %}
      {% if paid == false %}
        {{ components.heading(text=t.penalty_details_page.title_unpaid, tag='h1', size='xlarge') }}
        {{ components.paragraph(text=t.penalty_details_page.intro) }}
      {% else %}
        {{ components.heading(text=t.penalty_details_page.title_paid, tag='h1', size='xlarge') }}
        <p>{{ t.penalty_details_page.confirmation }}&nbsp;<b>{{ paymentCode }}</b>
        {{ components.paragraph(text=t.penalty_details_page.confirmation_sent) }}
      {% endif %}
          <p>
            <p>{{t.penalty_details_page.includes_following_penalties}}</p>
            {# Payment summary table #}
            <table>
              <thead>
                <tr>
                  <th>{{t.penalty_details.reference}}</th>
                  <th>{{t.penalty_details.amount}}</th>
                  <th>{{t.penalty_details.status}}</th>
                </tr>
              </thead>
              <tbody>
                {% for penalty in penaltyDetails %}
                  {% set statusClass = 'confirmed' if penalty.status == 'PAID' else 'unconfirmed' %}
                  <tr>
                    <td>{{ penalty.reference }}</td> 
                    <td>&pound;{{ penalty.amount }}</td> 
                    <td class="{{ statusClass }}">{{ penalty.status }}</td>
                  </tr>   
                {% endfor %}
                <tr>
                  <td>{{ t.penalty_details.total_amount }}</td> 
                  <td><strong>&pound;{{ totalAmount if totalAmount else 'N/A' }}</strong></td> 
                  <td></td>
                </tr>
              </tbody>
            </table>
          </p>
          <details>
            <summary><span class="summary">{{ t.penalty_details_page.hidden_panel_title }}</span></summary>
            <div class="panel panel-border-narrow">
              <p>
                {{ t.penalty_details_page.hidden_panel_text }}
              </p>
            </div>
          </details>    
        </p>
        {% if paid %}
          <p>
          {{ t.penalty_details_page.you_can }} &nbsp; 
            {{ components.list(items=[
              { text: t.penalty_details_page.share_sms, url: '#' },
              { text: t.penalty_details_page.share_email, url: '#' },
              { text: t.penalty_details_page.make_note }
            ], type='bullet') }}
          </p>
          <p>
            {{ t.penalty_details_page.return_to_page }} <a target='_blank' href='{{ urlroot }}/payment-code'>{{ t.penalty_details_page.return_to_page_link_title }}</a>
          </p>
          {{ components.button(text=t.penalty_details_page.pay_another_button, url='/payment-code') }}
        {% else %}
						<input type="hidden" name="reference" value="{{ reference }}">
						<input type="hidden" name="type" value="{{ type }}">
						<input type="hidden" name="amount" value="{{ amount }}">
						<input type="hidden" name="paymentCode" value="{{ paymentCode }}">
            {{ components.button(text=t.penalty_details_page.continue_to_payment_button, type="submit") }}
        {% endif %}
      {%- endcall %}
    {%- endcall %}

    {% call components.columnOneThird() %}

    <aside class="govuk-related-items" role="complementary">
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li> {{ components.link(text='French', url='?clang=fr') if clang != 'fr' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='German', url='?clang=de') if clang != 'de' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Polish', url='?clang=pl') if clang != 'pl' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Spanish', url='?clang=es') if clang != 'es' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Welsh', url='?clang=cy') if clang != 'cy' else components.link(text='English', url='?clang=en') }}</li>
          </ul>
        </nav>
      </aside>
    {%- endcall %}

  {%- endcall %}
  
{% endblock %}