{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = t.site_title %}
{% set pageBreadcrumbItems = [
    { text: t.breadcrumbs.home, url: '/' },
    { text: t.breadcrumbs.payment_code, url: '/payment-code' },
    { text: t.breadcrumbs.penalty_details }
  ] 
%}
{# This is going to be refactored once the Payment service is integrated and we have full knowledge of the payload
  coming from it.
#}
{% set paid = true if paymentStatus == 'PAID' else false %}

{% block content %}
  
  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}
      {{ components.heading(text=t.penalty_details_page.penalty_details_title, tag='h1', size='large') }}
      {% if paid == false %}
        {{ components.paragraph(text=t.penalty_details_page.intro) }}
      {% else %}
        {{ components.paragraph(text=t.penalty_details_page.intro_paid) }}
      {% endif %}
      {# Penalty details summary table #}
      <table class="details bottomless-table">
        <tbody>
          <tr>
            <td>{{ t.penalty_details.payment_code }}:</td>
            <td colspan=3>{{ paymentCode }}</td>
          </tr>
          <tr>
            <td>{{ t.penalty_details.vehicle_reg }}:</td>
            {% if isPenaltyGroup == false %}
              <td>{{ penaltyDetails.vehicleReg if penaltyDetails.complete else t.penalty_details.not_available }}</td>
            {% else %}
              <td>{{ penaltyGroupDetails.registrationNumber if penaltyGroupDetails.registrationNumber else 'N/A' }}</td>
            {% endif %}
          </tr>
          <tr>
            <td>{{ t.penalty_details.penalty_date }}:</td>
            {% if isPenaltyGroup == false %}
              <td>{{ penaltyDetails.issueDate if penaltyDetails.complete else 'Not available' }}</td>
            {% else %}
              <td colspan=3>{{ penaltyGroupDetails.date }}</td>
            {% endif %}
          </tr>
          <tr>
            <td>{{ t.penalty_details.location }}:</td>
            {% if isPenaltyGroup == false %}
              <td>{{ penaltyDetails.location if penaltyDetails.complete else 'Not available' }}</td> 
            {% else %}
              <td colspan=3>{{ penaltyGroupDetails.location }}</td>
            {% endif %}
          </tr>
          {% if isPenaltyGroup == false %}
            <tr>
              <td>{{ t.penalty_details.amount }}:</td>
              <td>&pound;{{ penaltyDetails.amount }}</td>
            </tr>
          {% else %}
            {% for amount in penaltyGroupDetails.splitAmounts|sort(attribute='type', reverse=true) %}
              {% set amountPaid = true if amount.status == 'PAID' else false %}
              {% set statusClass = 'confirmed' if amountPaid else 'unconfirmed' %}
              <tr>
                <td>
                  {{ t.penalty_details[amount.type] }}:
                  {% for penaltyType in penaltyDetails %}
                    {% if (penaltyType.type == amount.type) and (penaltyType.penalties.length) == 1 %}
                      <br />
                      {{ penaltyType.penalties[0].formattedReference }}
                    {% endif %}
                  {% endfor %}
                </td>
                <td>
                  &pound;{{ amount.amount }}
                </td>
                <td>
                  <span class="{{statusClass}}">
                    {% if amountPaid %}
                      <strong>{{ t.penalty_details.status_paid }}</strong> &nbsp;&nbsp;
                      <img src="{{ assets }}/images/icon-check.png" />
                    {% else %}
                      <strong>{{ t.penalty_details.status_unpaid }}</strong>
                    {% endif %}
                  </span>
                </td>
                <td>
                  {% if amountPaid %}
                    <a href="{{paymentCode}}/{{amount.type}}/receipt">{{ t.penalty_details.receipt_link }}</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% endif %}    
          {% if isPenaltyGroup == false %}
            <tr>
              <td>{{ t.penalty_details.reference}}:</td>
              <td>{{ penaltyDetails.formattedReference }}</td>
            </tr>
            <tr>
              <td>{{ t.penalty_details.penalty_type }}:</td>
              <td>{{ penaltyDetails.typeDescription }}</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
      {% for penaltyType in penaltyDetails %}
        {% if ((penaltyType.type == 'FPN') or (penaltyType.type == 'CDN')) and (penaltyType.penalties.length > 1) %}
          <p>
            <details>
              <summary><span class="summary">{{ t.penalty_details_page.penalty_details_panel_title }}</span></summary>
              <div class="panel panel-border-narrow">
                <table>
                  <thead>
                    <tr>
                      <th>{{ t.penalty_details.reference }}</th>
                      <th class="numeric">{{ t.penalty_details.amount }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for penalty in penaltyType.penalties %}
                      <tr>
                        <td>{{ penalty.formattedReference }}</td>
                        <td class="numeric">&pound;{{ penalty.amount }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </details>    
          </p>
        {% endif %}
      {% endfor %}
      {% if isPenaltyGroup == true and paymentStatus != 'PAID' %}
        <div class="panel panel-border-narrow">
          {{t.penalty_details_page.warning_text}}
        </div>

        {% set nextPaymentUrl = '/payment-code/' + paymentCode  + '/' + nextPayment.PaymentCategory + '/details' %}
        {{ components.button(text=t.penalty_details_page.continue_to_payment_button, url=nextPaymentUrl) }}

        <p>
          <details>
            <summary><span class="summary">{{ t.penalty_details_page.hidden_panel_title }}</span></summary>
            <div class="panel panel-border-narrow">
              <p>
                {{ t.penalty_details_page.hidden_panel_text }}
              </p>
            </div>
          </details>    
        </p>
      {% endif %}
    {# ends components.columnTwoThirds #}
    {%- endcall %}
  {# ends components.gridRow #}
  {%- endcall %}
  
{% endblock %}