{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = t.site_title %}
{% set pageBreadcrumbItems = [
    { text: t.breadcrumbs.home, url: '/' },
    { text: t.breadcrumbs.payment_code, url: '/payment-code' },
    { text: t.breadcrumbs.penalty_details }
  ]
%}

{% set paid = true if status == 'PAID' else false %}
{% set statusClass = 'confirmed' if paid else 'unconfirmed' %}

{% block content %}

  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}
          {% call components.form(action='/payment-code/'+paymentCode+'/payment', method='POST')  %}
      {{ components.heading(text=t.penalty_details_page.penalty_details_title, tag='h1', size='xlarge') }}
      {% if paid == false %}
        {{ components.heading(text=t.penalty_details_page.intro_part_paid, tag='h2', size='medium') }}
      {% else %}
        {{ components.heading(text=t.penalty_details_page.intro_paid, tag='h2', size='medium') }}
        <p>
          {{ t.feedback_prompt.easy_to_use }}
          <a href="{{ t.feedback_prompt.link }}" target="_blank">
            {{ t.feedback_prompt.tell_us }}</a>
          {{ t.feedback_prompt.improve_service }}
        </p>
      {% endif %}
        <table class="details single-penalty-summary">
          <tbody>
            <tr>
              <td>{{ t.penalty_details.payment_code }}</td>
              <td colspan=4>{{ paymentCode }}</td>
            </tr>
            <tr>
              <td>{{ t.penalty_details.vehicle_reg }}</td>
              <td colspan=4>{{ vehicleReg if complete else t.penalty_details.not_available }}</td>
            </tr>
            <tr>
              <td>{{ t.penalty_details.penalty_date }}</td>
              <td colspan=4>{{ issueDate if complete else 'Not available' }}</td>
            </tr>
            <tr>
              <td>{{ t.penalty_details.location }}</td>
              <td colspan=4>{{ location | escape if complete else 'Not available' }}</td>
            </tr>
            <tr>
              {% if type == 'FPN' %}
                <td>{{ t.penalty_details.type_fixed_penalty }}</td>
              {% elif type == 'CDN' %}
                <td>{{ t.penalty_details.type_court_deposit }}</td>
              {% elif type == 'IM' %}
                <td>{{ t.penalty_details.type_immobilisation }}</td>
              {% endif %}
              <td>&pound;{{ amount }}</td>
              <td class="{{ statusClass }}">
                <strong>
                  {% if paid %}
                    {{ t.penalty_details.status_paid }}
                    &nbsp;&nbsp;
                    <img src="{{ assets }}/images/icon-check.png" alt="" />
                  {% else %}
                    {{ t.penalty_details.status_unpaid }}
                  {% endif %}
                </strong>
              </td>
              <td>
                {% if paid %}
                  <a href="{{paymentCode}}/receipt">{{ t.penalty_details.receipt_link }}</a>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>{{ t.penalty_details.reference}}</td>
              <td colspan=4>{{ formattedReference }}</td>
            </tr>
            {% if paymentAuthCode %}
              <tr>
                <td>{{t.payment_details.authorisation_code}}</td>
                <td colspan=4>{{ paymentAuthCode }}</td>
              </tr>
            {% endif %}
            {% if paid %}
              <tr>
                <td>{{t.payment_details.paid_on}}</td>
                <td colspan=4>{{ paymentDate }}</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
        <p>
        {% if paid == false %}
          {% if paymentPending %}
            <p>
              {{ components.notice(text=t.payment_pending_page.pending_notice.replace('MINUTES', pendingMinutes)) }}
            </p>
          {% else %}
            <p>
              {{ components.notice(text=t.home.info_text) }}
            </p>
          {% endif %}

          <input type="hidden" name="reference" value="{{ reference }}">
          <input type="hidden" name="type" value="{{ type }}">
          <input type="hidden" name="amount" value="{{ amount }}">
          <input type="hidden" name="paymentCode" value="{{ paymentCode }}">
          {{ components.button(text=t.penalty_details_page.continue_to_payment_button, type="submit", disabled=paymentPending) }}
          <p>
            <details>
              <summary><span class="summary">{{ t.penalty_details_page.details_assistance_panel_title }}</span></summary>
              <div class="panel panel-border-narrow">
                <p>
                  {{ t.penalty_details_page.details_assistance_panel_paragraph_1 }}
                </p>
                <ul>
                  <li>
                    {{ t.penalty_details_page.tell_examiner }}
                  </li>
                  <li>
                    {{ t.penalty_details_page.call_dvsa }}
                    <br />
                    {{ components.link(text=t.penalty_details_page.call_charges_link, url='https://www.gov.uk/call-charges') }}
                    <br />
                    {{ t.penalty_details_page.info_needed }}
                  </li>
                </ul>
              </div>
            </details>
          </p>
          {{ components.heading(text=t.home.other_ways, tag='h2', size='medium') }}
          {{ components.heading(text=t.home.phone_heading, tag='h3', size='small') }}
          <p>{{ t.home.phone_contact_details }}</p>
          {{ components.link(text=t.home.phone_charges_link, url='https://www.gov.uk/call-charges') }}
          <p>{{ t.home.phone_info_needed }}</p>
          <ul class="visible-bullets">
            <li>{{ t.home.phone_bullet1 }}</li>
            <li>{{ t.home.phone_bullet2 }}</li>
            <li>{{ t.home.phone_bullet3 }}</li>
          </ul>
          {{ components.heading(text=t.home.post_heading, tag='h3', size='small') }}
          <p>{{ t.home.post_text }}</p>
          {{ components.heading(text=t.home.cash_heading, tag='h3', size='small') }}
          <p>{{ t.home.cash_text }}</p>
        {% else %}
          <h3 class="heading-medium">{{ t.payment_details.payment_receipt_print_header  }}</h3>
          <div class="panel panel-border-wide">
            {{ t.payment_details.payment_receipt_print_info }}
          </div>
          <br />
        {% endif %}
      {%- endcall %}
    {%- endcall %}
    {% call components.columnOneThird() %}
      <aside class="govuk-related-items" role="complementary">
        {{ components.heading(text=t.home.language_guidance_header + ':', tag='h3', size='small', id='language-links-header' )}}
        <nav role="navigation" aria-labelledby="language-links-header">
          <ul class="font-xsmall">
            <li>{{ components.link(text='Cymraeg', url='?clang=cy') if clang != 'cy' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Deutsch', url='?clang=de') if clang != 'de' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Español', url='?clang=es') if clang != 'es' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Français', url='?clang=fr') if clang != 'fr' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Polski', url='?clang=pl') if clang != 'pl' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Bulgarian', url='?clang=bg') if clang != 'bg' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Croatian', url='?clang=hr') if clang != 'hr' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Czech', url='?clang=cs') if clang != 'cz' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Dutch', url='?clang=nl') if clang != 'nl' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Estonian', url='?clang=et') if clang != 'ee' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Greek', url='?clang=el') if clang != 'gr' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Hungarian', url='?clang=hu') if clang != 'hu' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Italian', url='?clang=it') if clang != 'it' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Latvian', url='?clang=lv') if clang != 'lv' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Lithuanian', url='?clang=lt') if clang != 'lt' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Portugeuse', url='?clang=pt') if clang != 'pt' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Romanian', url='?clang=ro') if clang != 'ro' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Russian', url='?clang=ru') if clang != 'ru' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Serbian-Cyrillic', url='?clang=sr') if clang != 'rs' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Slovak', url='?clang=sk') if clang != 'sk' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Slovenian', url='?clang=sl') if clang != 'sl' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Turkish', url='?clang=tr') if clang != 'tr' else components.link(text='English', url='?clang=en') }}</li>
          </ul>
        </nav>
      </aside>
    {%- endcall %}
  {%- endcall %}

{% endblock %}