{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = t.site_title %}
{% set pageBreadcrumbItems = [
    { text: t.breadcrumbs.home, url: '/' },
    { text: t.breadcrumbs.payment_code, url: '/payment-code' },
    { text: t.breadcrumbs.penalty_details }
  ] 
%}

{% set paid = true if status == 'PAID' else false %}
{% set statusClass = 'confirmed' if paid else 'unconfirmed' %}

{% block content %}
  
  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}
          {% call components.form(action='/payment-code/'+paymentCode+'/payment', method='POST')  %}
      {{ components.heading(text=t.penalty_details_page.penalty_details_title, tag='h1', size='xlarge') }}
      {% if paid == false %}
        {{ components.heading(text=t.penalty_details_page.intro_part_paid, tag='h3', size='medium') }}
      {% else %}
        {{ components.heading(text=t.penalty_details_page.intro_paid, tag='h3', size='medium') }}
      {% endif %}
        <table class="details single-penalty-summary">
          <tbody>
            <tr>
              <td>{{ t.penalty_details.payment_code }}</td>
              <td colspan=2>{{ paymentCode }}</td> 
            </tr>
            <tr>
              <td>{{ t.penalty_details.vehicle_reg }}</td>
              <td colspan=2>{{ vehicleReg if complete else t.penalty_details.not_available }}</td> 
            </tr>
            <tr>
              <td>{{ t.penalty_details.penalty_date }}</td>
              <td colspan=2>{{ issueDate if complete else 'Not available' }}</td>
            </tr>
            <tr>
              <td>{{ t.penalty_details.location }}</td>
              <td colspan=2>{{ location if complete else 'Not available' }}</td> 
            </tr>
            <tr>
              {% if type == 'FPN' %}
                <td>{{ t.penalty_details.type_fixed_penalty }}</td>
              {% elif type == 'CDN' %}
                <td>{{ t.penalty_details.type_court_deporit }}</td>
              {% elif type == 'IM' %}
                <td>{{ t.penalty_details.type_immobilisation }}</td>
              {% endif %}
              <td>&pound;{{ amount }}</td>
              <td id="status" class="{{ statusClass }}"><strong>{% if paid %}{{ t.penalty_details.status_paid }} &nbsp;&nbsp;<img src="{{ assets }}/images/icon-check.png" />{% else %}{{ t.penalty_details.status_unpaid }} {% endif %}</strong></td>
            </tr>
            <tr>
              <td>{{ t.penalty_details.reference}}</td>
              <td colspan=2>{{ formattedReference }}</td>
            </tr>
            {% if paymentAuthCode %}
              <tr>
                <td>{{t.payment_details.authorisation_code}}</td> 
                <td colspan=2>{{ paymentAuthCode }}</td> 
              </tr>
            {% endif %}
            {% if paid %}
              <tr>
                <td>{{t.payment_details.paid_on}}</td> 
                <td colspan=2>{{ paymentDate }}</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
        <p>
        {% if paid == false %}
          <p>
            {{ components.notice(text=t.home.info_text) }}
          </p>
          <input type="hidden" name="reference" value="{{ reference }}">
          <input type="hidden" name="type" value="{{ type }}">
          <input type="hidden" name="amount" value="{{ amount }}">
          <input type="hidden" name="paymentCode" value="{{ paymentCode }}">
          {{ components.button(text=t.penalty_details_page.continue_to_payment_button, type="submit") }}
          <p>
            <details>
              <summary><span class="summary">{{ t.penalty_details_page.details_assistance_panel_title }}</span></summary>
              <div class="panel panel-border-narrow">
                <p>
                  {{ t.penalty_details_page.details_assistance_panel_paragraph_1 }}
                </p>
                <ul>
                  <li>
                    {{ t.penalty_details_page.tell_examiner }}
                  </li>
                  <li>
                    {{ t.penalty_details_page.call_dvsa }}
                    <br />
                    {{ components.link(text=t.penalty_details_page.call_charges_link, url='https://www.gov.uk/call-charges') }}
                    <br />
                    {{ t.penalty_details_page.info_needed }}
                  </li>
                </ul>
              </div>
            </details>
          </p>
        {% else %}
          <h3 class="heading-medium">{{ t.payment_details.payment_receipt_print_header  }}</h3>
          <div class="panel panel-border-wide">
            {{ t.payment_details.payment_receipt_print_info }}
          </div>
          <br />
        {% endif %}
      {%- endcall %}
    {%- endcall %}
    {% call components.columnOneThird() %}
    <aside class="govuk-related-items" role="complementary">
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li>{{ components.link(text='Cymraeg', url='?clang=cy') if clang != 'cy' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Deutsch', url='?clang=de') if clang != 'de' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Español', url='?clang=es') if clang != 'es' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Français', url='?clang=fr') if clang != 'fr' else components.link(text='English', url='?clang=en') }}</li>
            <li>{{ components.link(text='Polski', url='?clang=pl') if clang != 'pl' else components.link(text='English', url='?clang=en') }}</li>
          </ul>
        </nav>
      </aside>
    {%- endcall %}
  {%- endcall %}
  
{% endblock %}