// Margin
.atf-m-t-0 {
	margin-top: 0;
}

.atf-m-t-5 {
	margin-top: 5px;
}

.atf-m-t-20 {
	margin-top: 20px;
}

.atf-m-t-30 {
	margin-top: 30px;
}

.atf-m-b-5 {
	margin-bottom: 5px;
}

.atf-m-b-10 {
	margin-bottom: 10px;
}

.atf-m-y-10 {
	margin: 10px 0px;
}

.atf-m-t-60 {
	margin-top: 60px;
}

.atf-m-t-40 {
	margin-top: 40px;
}

.atf-m-b-40 {
	margin-bottom: 40px;
}


.atf-m-t-50 {
	margin-top: 50px;
}

.atf-no-margin {
	margin: 0px;
}

.atf-m-t-10 {
	margin-top: 10px;
}

// Padding
.atf-p-l-30 {
	padding-left: 30px;
}