{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = t.home.title %}
{% set pageBreadcrumbItems = [
    { text: t.breadcrumbs.home }
  ]
%}
{% block content %}
  {% call components.gridRow() %}

    {% call components.columnTwoThirds() %}
      {{ components.heading(text=t.home.title, tag='h1', size='xlarge') }}
      {{ components.paragraph(text=t.home.description) }}
      {{ components.list(items=[
        { text: t.home.fixed_penalty },
        { text: t.home.immobilisation },
        { text: t.home.court_deposit }
      ], type='bullet') }}
      
      <p>
        {{ components.notice(text=t.home.info_text) }}
      </p>

      <div class="panel panel-border-wide">
        {{ t.home.language_guidance }}
      </div>

      <p>
        {{ components.button(text=t.home.start_button, start='true', url='/payment-code') }}
      </p>

      {{ components.heading(text=t.home.before_start, tag='h2', size='medium') }}
      <p>{{ t.home.before_start_text }}</p>
      <ul class="visible-bullets">
        <li>{{ t.home.payment_code_details }}</li>
        <li>{{ t.home.payment_method_details }}</li>
      </ul>

      {{ components.heading(text=t.home.other_ways, tag='h2', size='medium') }}
      {{ components.heading(text=t.home.phone_heading, tag='h3', size='small') }}
      <p>{{ t.home.phone_contact_details }}</p>
      {{ components.link(text=t.home.phone_charges_link, url='https://www.gov.uk/call-charges') }}
      <p>{{ t.home.phone_info_needed }}</p>
      <ul class="visible-bullets">
        <li>{{ t.home.phone_bullet1 }}</li>
        <li>{{ t.home.phone_bullet2 }}</li>
        <li>{{ t.home.phone_bullet3 }}</li>
      </ul>
      {{ components.heading(text=t.home.post_heading, tag='h3', size='small') }}
      <p>{{ t.home.post_text }}</p>
      {{ components.heading(text=t.home.cash_heading, tag='h3', size='small') }}
      <p>{{ t.home.cash_text }}</p>
    {%- endcall %}

    {% call components.columnOneThird() %}

    <aside class="govuk-related-items" role="complementary">
      {{ components.heading(text=t.home.related_content, tag='h2', size='small', id='related-content-header') }}
        <nav role="navigation" aria-labelledby="related-content-header">
          <ul class="font-xsmall">
            <li>{{ components.link(text=t.home.related_content_link_1, url='https://www.gov.uk/roadside-vehicle-checks-for-commercial-drivers') }}</li>
            <li>{{ components.link(text=t.home.related_content_link_2, url='https://www.gov.uk/drivers-hours') }}</li>
            <li>{{ components.link(text=t.home.related_content_link_3, url='https://www.gov.uk/roadside-vehicle-checks-for-commercial-drivers/fixed-penalties') }}</li>
            <li>{{ components.link(text=t.home.related_content_link_4, url='https://www.gov.uk/roadside-vehicle-checks-for-commercial-drivers/what-happens-if-your-vehicle-is-immobilised') }}</li>
          </ul>
        </nav>
      </aside>
    {%- endcall %}

  {%- endcall %}
  
{% endblock %}