{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = t.home.title %}
{% set pageBreadcrumbItems = [ 
    { text: 'Home' } 
  ]   
%} 
{% block content %}
  {% call components.gridRow() %}

    {% call components.columnTwoThirds() %}
      {{ components.heading(text=t.home.title, tag='h1', size='xlarge') }}
      {{ components.paragraph(text=t.home.description_1) }}
      {{ components.list(items=[
        { text: t.home.fixed_penalty },
        { text: t.home.immobilisation },
        { text: t.home.court_deposit }
      ], type='bullet') }}

      {{ components.paragraph(text=t.home.description_2) }}
      
      <p>
        {{ components.notice(text=t.home.info_text) }}
      </p>
      
      <p>
        {{ components.button(text=t.home.start_button, start='true', url='/payment-code') }}
      </p>

      {{ components.heading(text=t.home.before_start, tag='h3', size='medium') }}
      <p>
        {{t.home.before_start_text}} &nbsp;
          {{ components.link(text='French,', url='/?clang=fr') if clang != 'fr' else components.link(text='English,', url='/') }}
          {{ components.link(text='German,', url='/?clang=de') if clang != 'de' else components.link(text='English,', url='/') }}
          {{ components.link(text='Polish,', url='/?clang=pl') if clang != 'pl' else components.link(text='English,', url='/') }}
          {{ components.link(text='Spanish,', url='/?clang=es') if clang != 'es' else components.link(text='English,', url='/') }}
          {{ components.link(text='Welsh,', url='/?clang=cy') if clang != 'cy' else components.link(text='English,', url='/') }}
      </p>
    {%- endcall %}

    {% call components.columnOneThird() %}

    <aside class="govuk-related-items" role="complementary">
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li> {{ components.link(text='French', url='/?clang=fr') if clang != 'fr' else components.link(text='English', url='/') }}</li>
            <li>{{ components.link(text='German', url='/?clang=de') if clang != 'de' else components.link(text='English', url='/') }}</li>
            <li>{{ components.link(text='Polish', url='/?clang=pl') if clang != 'pl' else components.link(text='English', url='/') }}</li>
            <li>{{ components.link(text='Spanish', url='/?clang=es') if clang != 'es' else components.link(text='English', url='/') }}</li>
            <li>{{ components.link(text='Welsh', url='/?clang=cy') if clang != 'cy' else components.link(text='English', url='/') }}</li>
          </ul>
        </nav>
      </aside>
    {%- endcall %}

  {%- endcall %}
  
{% endblock %}