.cookie-preferences-confirmation {

  section {
    padding: 20px;
    border: 5px solid #1d70b8;
  }

  .heading-large {
    margin-top: 0;
  }
}

.cookie-preferences {

  .radio-item {
    float: left;
    margin-right: 20px;
  }

  fieldset {

    .form-label-bold {
      font-size: 26px;
    }

    p, ul {
      color: #626a6e;
    }
  }
}