{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = t.site_title %}
{% set pageBreadcrumbItems = [
  {
    text: t.breadcrumbs.home,
    url: '/'
  }, {
    text: t.breadcrumbs.privacy_statement
  }
] %}

{% block content %}
    {% call components.gridRow() %}
        {% call components.columnTwoThirds() %}
              {{ components.heading(text=t.privacy_statement.title, tag='h1', size='xlarge') }}
              {{ components.heading(text=t.privacy_statement.introduction.heading, tag='h2',size='medium') }}
              {{ components.paragraph(text=t.privacy_statement.introduction.about) }}
              {{ components.paragraph(text=t.privacy_statement.introduction.purpose) }}
              {{ components.paragraph(text=t.privacy_statement.introduction.dataController) }}
             
              {{ components.heading(text=t.privacy_statement.what_data.heading, tag='h2',size='medium') }}
              {{ components.paragraph(text=t.privacy_statement.what_data.what_we_need.statement) }}
              {{ components.list(items=t.privacy_statement.what_data.what_we_need.details, type='bullet') }}
              {{ components.paragraph(text=t.privacy_statement.what_data.reason) }}
              {{ components.paragraph(text=t.privacy_statement.what_data.legal) }}
       
              {{ components.heading(text=t.privacy_statement.why.heading, tag='h2',size='medium') }}
              {{ components.paragraph(text=t.privacy_statement.why.data.statement) }}
              {{ components.list(items=t.privacy_statement.why.data.details, type='bullet') }}
            
              {{ components.heading(text=t.privacy_statement.what_we_do_with.heading, tag='h2',size='medium') }}
              {{ components.paragraph(text=t.privacy_statement.what_we_do_with.data.statement) }}
              {{ components.paragraph(text=t.privacy_statement.what_we_do_with.data.excluding) }}
              {{ components.list(items=t.privacy_statement.what_we_do_with.data.details, type='bullet') }}
              {{ components.paragraph(text=t.privacy_statement.what_we_do_with.data.law) }}
            
              {{ components.heading(text=t.privacy_statement.how_long.heading, tag='h2',size='medium') }}
              {{ components.paragraph(text=t.privacy_statement.how_long.data.statement) }}
              {{ components.paragraph(text=t.privacy_statement.how_long.data.hold) }}
              {{ components.list(items=t.privacy_statement.how_long.data.details, type='bullet') }}

              {{ components.heading(text=t.privacy_statement.where.heading, tag='h2',size='medium') }}
              {{ components.paragraph(text=t.privacy_statement.where.statement_one) }}
              {{ components.paragraph(text=t.privacy_statement.where.statement_two) }}
              {{ components.paragraph(text=t.privacy_statement.where.statement_three) }}
             
              {{ components.heading(text=t.privacy_statement.protection.heading, tag='h2',size='medium') }}
              {{ components.paragraph(text=t.privacy_statement.protection.statement_one) }}
              
              {{ components.heading(text=t.privacy_statement.automated.heading, tag='h2',size='medium') }}
              {{ components.paragraph(text=t.privacy_statement.automated.statement_one) }}
              
              {{ components.heading(text=t.privacy_statement.changes.heading, tag='h2',size='medium') }}
              {{ components.paragraph(text=t.privacy_statement.changes.statement_one) }}
              {{ components.paragraph(text=t.privacy_statement.changes.statement_two) }}
              {{ components.paragraph(text=t.privacy_statement.changes.statement_three) }}

              {{ components.heading(text=t.privacy_statement.contact.heading, tag='h2',size='medium') }}
              {{ components.paragraph(text=t.privacy_statement.contact.statement_one) }}
              <div class="govuk-inset-text">
                {{components.paragraph(text=t.privacy_statement.contact.statement_two)}}
                {{components.span(item=t.privacy_statement.contact.line_one)}}
                {{components.address(address=t.privacy_statement.contact.address)}}
                {{components.paragraph(text=t.privacy_statement.contact.dvsa_email.heading)}}
                {{components.link(url="mailto:"+ t.privacy_statement.contact.dvsa_email.link,text=t.privacy_statement.contact.dvsa_email.link)}}
              </div>
                {{components.paragraph(text=t.privacy_statement.contact.customer_services)}}
                {{components.paragraph(text=t.privacy_statement.contact.regulator)}}
              <div class="govuk-inset-text">
                
                {{components.paragraph(text=t.privacy_statement.contact.ico_email.heading)}}
                {{components.link(url="mailto:"+t.privacy_statement.contact.ico_email.link,t.privacy_statement.contact.ico_email.link)}}

                {{components.paragraph(text=t.privacy_statement.contact.ico_contact.heading)}}
                {{components.link(url="mailto:"+t.privacy_statement.contact.ico_contact.form,text=t.privacy_statement.contact.ico_contact.form)}}

                {{components.paragraph(text=t.privacy_statement.contact.ico_contact.telephone)}}
                {{components.span(item=t.privacy_statement.contact.ico_contact.telno)}}

                {{components.paragraph(text=t.privacy_statement.contact.ico_contact.textphone)}}
                {{components.span(item=t.privacy_statement.contact.ico_contact.textphone_no)}}

              </div>
       {%- endcall %}
  {%- endcall %}
{% endblock %}