<!-- body-scripts -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7XLLGL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<script type="text/javascript" src="{{ assets }}/javascripts/dvsa.bundle.js"></script>

{% block bodyScripts %}{% endblock %}
<!-- /body-scripts -->