<!-- footer -->
<footer class="group js-footer" id="footer">
  <div class="footer-wrapper">
    <div class="footer-meta">
      <div class="footer-meta-inner">
        <h5 class="visuallyhidden">Support links</h5>
        <ul>
          <li><a href="/cookie-preferences" id="cookies-link">{{ t.footer.cookies }}</a></li>
          <li><a href="https://www.gov.uk/help/terms-conditions">{{ t.footer.terms_conditions }}</a></li>
          <li>{{ t.footer.built_by }}</li>
        </ul>
        <h5 class="visuallyhidden">Languages</h5>
        <ul>
          <li>{{ components.link(text='French', url='?clang=fr') if clang != 'fr' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='German', url='?clang=de') if clang != 'de' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Polish', url='?clang=pl') if clang != 'pl' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Spanish', url='?clang=es') if clang != 'es' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Welsh', url='?clang=cy') if clang != 'cy' else components.link(text='English', url='?clang=en') }}</li>
        </ul>
        <div class="open-government-licence">
            <p class="logo">
              <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
            </p>
            <p>{{ t.footer.licence_1 }} <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, {{ t.footer.licence_2 }}</p>
        </div>
        <div class="version-number">Version 3.1.4</div>
      </div>

      <div class="copyright">
          <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

<div id="global-app-error" class="app-error hidden"></div>