<!-- footer -->
<footer class="group js-footer" id="footer">
  <div class="footer-wrapper">
    <div class="footer-meta">
      <div class="footer-meta-inner">
        <h5 class="visuallyhidden">Support links</h5>
        <ul>
          <li><a href="/cookie-preferences" id="cookies-link">{{ t.footer.cookies }}</a></li>
          <li><a href="https://www.gov.uk/help/terms-conditions">{{ t.footer.terms_conditions }}</a></li>
          <li>{{ t.footer.built_by }}</li>
        </ul>
        <h5 class="visuallyhidden">Languages</h5>
        <ul>
          <li>{{ components.link(text='French', url='?clang=fr') if clang != 'fr' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='German', url='?clang=de') if clang != 'de' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Polish', url='?clang=pl') if clang != 'pl' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Spanish', url='?clang=es') if clang != 'es' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Welsh', url='?clang=cy') if clang != 'cy' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Bulgarian', url='?clang=bg') if clang != 'bg' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Croatian', url='?clang=hr') if clang != 'hr' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Czech', url='?clang=cs') if clang != 'cs' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Dutch', url='?clang=nl') if clang != 'nl' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Estonian', url='?clang=et') if clang != 'ee' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Greek', url='?clang=el') if clang != 'el' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Hungarian', url='?clang=hu') if clang != 'hu' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Italian', url='?clang=it') if clang != 'it' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Latvian', url='?clang=lv') if clang != 'lv' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Lithuanian', url='?clang=lt') if clang != 'lt' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Portugeuse', url='?clang=pt') if clang != 'pt' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Romanian', url='?clang=ro') if clang != 'ro' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Russian', url='?clang=ru') if clang != 'ru' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Serbian-Cyrillic', url='?clang=sr') if clang != 'sr' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Slovak', url='?clang=sk') if clang != 'sk' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Slovenian', url='?clang=sl') if clang != 'sl' else components.link(text='English', url='?clang=en') }}</li>
          <li>{{ components.link(text='Turkish', url='?clang=tr') if clang != 'tr' else components.link(text='English', url='?clang=en') }}</li>
        </ul>
        <div class="open-government-licence">
            <p class="logo">
              <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
            </p>
            <p>{{ t.footer.licence }}</p>
        </div>
        <div class="version-number">Version 3.1.4</div>
      </div>

      <div class="copyright">
          <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

<div id="global-app-error" class="app-error hidden"></div>