{% if not hideLayoutPhaseBanner %}
<!-- phase-banner -->
<div class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>{{ t.phase_banner.new_service }} <a href="{{ t.phase_banner.feedback_link }}" target="_blank">{{ t.phase_banner.feedback }}</a> {{ t.phase_banner.help_improve }}</span>
  </p>
</div>
<!-- /phase-banner -->
{% endif %}